In [2]:
from usde.usde import USDE

# Linkedin Api's credentials
api_credentials = {'access_token': " "}
# Create usde
usde = USDE()

linkedin = usde.get_linkedin(api_credentials)

In [3]:
# Create a graph and naming the graph type inside usde first and then modify the graph
graph = usde.create_graph("pandas")
linkedin.fetch_self_node(graph)
nodes = graph.get_nodes()
df = nodes["position"]
df.head(10)

,_id,Label,label_attribute,company,company_id,company_industry,company_name,company_size,company_type,is_current,location,start_month,start_year,summary
0,1362428103,Course Producer for CSCI 310: Software Enginee...,Position,"{'id': 3221523, 'industry': 'Higher Education'...",3221523,Higher Education,USC Viterbi School of Engineering,10001+,Educational,True,"Los Angeles, CA",8,2018,Held office hours to answer students’ question...
1,1362429330,Course Producer for CSCI 201: Principles of So...,Position,"{'id': 3221523, 'industry': 'Higher Education'...",3221523,Higher Education,USC Viterbi School of Engineering,10001+,Educational,True,"Los Angeles, CA",8,2018,Held office hours to answer students’ question...

In [4]:
df = nodes["profile"]
df.head(10)

,_id,Label,label_attribute,first_name,last_name,headline,industry,location,location_name,location_country,num_connections,num_connections_capped,picture_url,summary
0,pUJXmhGP5s,Zifan Shi,Profile,Zifan,Shi,Course Producer for CSCI 201: Principles of So...,Computer Software,"{'country': {'code': 'us'}, 'name': 'Greater L...",Greater Los Angeles Area,us,59,False,https://media.licdn.com/dms/image/C5603AQEYCCJ...,Major in Computer Science (Senior Year) and Mi...